#contact{
    padding: 5rem 0;

}

#contact input,#contact textarea{
    outline: none;
    border:none;
    border-bottom: 1px solid grey;
    padding: 2rem 0rem;
}
#contact input::placeholder,#contact textarea::placeholder{
    font-size: 1.2rem;
}
#contact input:focus,#contact textarea:focus{
    outline: none;
    box-shadow: none;
}
.send-btn{
    background-color: rgb(26,188,156);
    color: #fff;
    border: none;
    font-size: 1.2rem;
    padding: 1rem 2rem;
    border-radius: 10px;
    margin-top: 1rem;
    text-align: left;

}