#porto{
    padding: 5rem 0;

}
.main-title{
    font-size: 3rem;
    font-weight: bolder;
}
.grid-items img, .overlay{
    border-radius: 10px;
    cursor: pointer;
}
.overlay { 
    background-color: rgb(26,188,156);
    opacity: 0;
    transition: 0.5s opacity;
}
.overlay:hover { 
    opacity: 0.75;
}
.overlay-items i {
    font-size: 3.8rem;
    font-weight: 800;
}
.lightBox{
    z-index: 99999;
    background-color: rgb(0,0,0,0.5);
}
.lightBox-caption{
    width: 75%;
    background-color: #fff;

}
.overImg{
    border-radius: 10px;
    width: 40%;
}
.close-btn{
    background-color: rgb(26,188,156);
    color: #fff;
    transition: 0.5s background-color;
}
.close-btn:hover {
    background-color: rgb(19, 131, 109);
    color: #fff;

}
.closeBtn{
    color:  rgb(26,188,156);
    font-size: 2rem;
    transition: 0.5s color;
    cursor: pointer;
}
.closeBtn i {
    
    font-weight:bolder;
    
}
.closeBtn:hover{
    color: rgb(19, 131, 109);
    
}
@media screen and (max-width:992px) {

    .main-title{
        font-size: 1.5rem;
    }
    
}